
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="seccess mt-5" style="text-align:center ; font-family: Comic Sans MS;">
    <h3>Gửi liên hệ thành công</h3>
    <p class="mt-5">Cảm ơn bạn đã liên hệ. Chúng tôi sẽ phản hồi sớm nhất có thể.<a class="header__right__auth" href=" https://localhost:7199/">Về trang chủ</a></p>
    
</div>


