
@{
    ViewData["Title"] = "EndCheckout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-5" style="text-align:center; font-size:30px">Game Store cảm ơn bạn đã đặt hàng!</h1>
<p style="text-align:center;"> <strong><a href="/SanPham/Index">Tiếp tục mua hàng</a></strong></p>
<br>

<style>
    img {
        margin: 0 auto;
        display: block;
        margin-top: 20%;
    }
</style>

