@model Game.Model.Entities.DonHang
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Thêm mới đơn hàng</h5>
            <form asp-action="Create" asp-controller="DonHang" method="post" class="row-col-md-6">
                <div class="col-12">
                    <label asp-for="Id" class="form-label">Mã đơn hàng</label>
                    <input asp-for="Id" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="ProductId" class="form-label">Mã sản phẩm</label>
                    <input asp-for="ProductId" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="CustomeId" class="form-label">Mã khách hàng</label>
                    <input asp-for="CustomeId" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="OrderDate" class="form-label">Ngày đặt hàng</label>
                    <input asp-for="OrderDate" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="Price" class="form-label">Giá</label>
                    <input asp-for="Price" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="TotalCost" class="form-label">Tổng giá</label>
                    <input asp-for="TotalCost" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="Status" class="form-label">Trạng thái</label>
                    <input asp-for="Status" class="form-control" />
                </div>
                <div class="col-12 text-center mt-2">
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                    <button type="reset" class="btn btn-secondary">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>

