
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Giới thiệu</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="bg0 p-t-75 p-b-120 mt-5">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-8 mt-5">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Game bản quyền là gì?
					</h3>

					<p class="stext-113 cl6 p-b-26 mt-5">
						Khác với game "cr@ck" (game lậu), để sở hữu được Game bản quyền bạn cần phải trả tiền cho nhà phát hành thông qua các cổng như Steam, Origin, Uplay, Battle net. Việc mua game bản quyền đồng nghĩa với việc ủng hộ Nhà phát hành game, giúp họ có thể tiếp tục phát triển tựa game mà bạn yêu thích hay những tựa game tuyệt vời sắp tới cho tương lai, đó là chính là ý nghĩa của đồng tiền mà bạn bỏ ra với game bản quyền.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Game bản quyền cho phép bạn thưởng thức chúng với tất cả tính năng vốn có, những tính năng mà game lậu không thể đáp ứng được như chơi Online, chơi Multiplayer (nhiều người). Ngoài ra, bạn sẽ được trải nghiệm miễn phí những bản cập nhật mới hoặc những bản vá sửa lỗi trực tiếp từ Nhà phát hành.
					</p>
				</div>
			</div>

			<div class="col-md-4 m-lr-auto mt-5">
				<div class="how-bor1 mt-5 ">
					<div class="hov-img0">
						<img style="height:300px" src="~/img/about1.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-12 p-b-30 mt-5">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Tại sao nên mua game bản quyền?
					</h3>

					<p class="stext-113 cl6 p-b-26 mt-5">
						Thứ nhất, game lậu lỗi tè le, game ra một năm trời rồi nhiều khi cũng còn lỗi theo chùm, chưa kể mỗi lần download hàng lậu về còn được khuyến mãi thêm vài chục con virus sang chảnh mang lại cho ta và chiếc PC của ta ngày một ì ạch..Trong khi mua game bản quyền có lỗi là vá, có màn mới là hốt, chẳng phải lo nghĩ.
					</p>
					<p class="stext-113 cl6 p-b-26">
						Chỉ có một bất lợi trong trường hợp này: đó là mỗi lần không qua được màn hay chơi quá í ẹ thì ta không có lý do để “chắc bản lậu nên bị lỗi chứ hem phải tại tớ chơi dở đâu”
					</p>
					<p class="stext-113 cl6 p-b-26">
						Thứ hai, chơi game lậu bản save không có được “đưa lên mây” (cloud syncing), nghĩa là nếu ta bỏ ra chừng một vài tháng cày cuốc và phát hiện ra cái game mà ta đã bỏ biết bao nhiêu công sức chính là “game của cuộc đời” đối với ta thì nay nhận ra nó chỉ save local và máy hư là coi như bỏ.
					</p>
					<p class="stext-113 cl6 p-b-26">
						Save local cũng có nghĩa mình không thể chơi cùng một nhân vật trên nhiều máy được. Trong khi cái thằng nó nhịn dĩa cơm sườn hồi mấy tháng trước, giờ nó cày buổi trưa ở công ty, tối nó cày tiếp ở nhà, đi du lịch biển nó vừa ngắm hoàng hôn vừa “phá đảo”, thiệt là tình mà.
					</p>
					<p class="stext-113 cl6 p-b-26">
						Thứ ba, chỉ có game bản quyền thì mình có thể chơi online được, như Overwatch hay Destiny, những game này hay ở chỗ ta có thể sát cánh cùng thằng bạn thân cách vài trăm cây số chinh phục thế giới cùng nó hò hét “khoai lang nè” trong lúc bạn đang ngốn tô thịt kho hột vịt còn nó ăn bò xào củ hành, mode chơi online là một món ăn tinh thần không thể thiếu đối với các game khủng hiện đại, và nó chỉ dành cho những ai chịu tốn kém một chút
					</p>
					<p class="stext-113 cl6 p-b-26">
						Thứ tư, một game mà bạn bỏ tiền tươi thóc thật ra mua thường là một game bạn thực sự thích, một game mà bạn đã nhiều đêm nằm vắt chân lên trán suy nghĩ “nó có đang để mua không?” “mình có thực sự chơi nó không?”. Một game mà bạn thay vì số tiền đó dẫn gấu đi ăn xoài lắc mà lại mua nó thì chắc chắn là một game mà bạn sẽ chơi nó đến nhàu nhĩ, chơi đi chơi lại, và đó mới là điều một hard-core gamer làm. Dù muốn hay không, chính số tiền bạn bỏ ra làm bạn tập trung chơi game đó một cách tận tâm
					</p>
					<p class="stext-113 cl6 p-b-26">
						Thứ năm, mua game bản quyền làm lòng ta thanh tịnh, mua game bản quyền giúp dân giàu nước mạnh hehe! Nói vĩ mô cho vui vậy thôi ý mình là mấy anh chàng game dev cũng có gấu có gia đình, cũng cần ăn uống và ngắm hoàng hôn giống mình, việc trả tiền mua game vừa là một cách tri ân vừa là một động tác thúc đẩy quá trình ra phiên bản mới của game nhanh hơn, cập nhật màn mới nhiều hơn nữa đó.
					</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">Đó là năm lý do lớn mà tui nghĩ mọi người khi tìm được game soul-mate của mình rồi thì nên mua đi, tui hoàn toàn không ác cảm với những người mua game lậu vì bản thân tui thời đi học cũng từng như vậy và thực sự bây giờ không phải ai cũng có điều kiện bỏ ra 1,5tr chỉ để mua một game. Tuy nhiên, theo tui việc bỏ tiền ra để mua game mình thực sự thích, thì có lợi cho người chơi game và bản thân cái game, hơn là hại. 
						</p>

						<span class="stext-111 cl8">
							- hiepsibaotap
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="contact__form" style="float:right;">
			<a href="#" class="primary-btn">Xem thêm </a>
		</div>
	</div>
</section>
<style>
	.mtext-111{
		font-family: Poppins-Bold;
		font-size: 25px;
		line-height:1.2;
	}

</style>

