@model Game.Model.Entities.Customer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Cập nhật khách hàng</h5>
            <form asp-action="Create" asp-controller="Customer" method="post" class="row-col-md-6">
                <div class="col-12">
                    <label asp-for="Id" class="form-label">Mã khách hàng</label>
                    <input asp-for="Id" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="Name" class="form-label">Tên khách hàng</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="Address" class="form-label">Địa chỉ</label>
                    <input asp-for="Address" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="Mobile" class="form-label">Số điện thoại</label>
                    <input asp-for="Mobile" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="Note" class="form-label">Lời nhắn của khách hàng</label>
                    <input asp-for="Note" class="form-control" />
                </div>
                <div class="col-12 text-center mt-2">
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                    <button type="reset" class="btn btn-secondary">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>

